*.pyc
*/CreatorModule/build/libs/CreatorModule.jar
*/ExchangeModule/build/libs/ExchangeModule.jar
*/MapModule/build/libs/MapModule.jar
*/RankingModule/build/libs/RankingModule.jar
*/SkeletonModule/build/libs/SkeletonModule.jar
*/TutorialModule/build/libs/TutorialModule.jar
*/javaLog.txt
.gradle/*
